:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: left;
  box-sizing: border-box;
  height: 100vh;
}

header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.header-button {
  padding: 20px 40px;
  border: none;
  background: lightcoral;
  color: white;
  border-radius: 999999999px;

  &:disabled {
    background: grey;
  }
}

.container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 800px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightyellow;
}

.content {
  margin: 50px;

  & .info {
    text-align: left;
  }
}

ul li {
  list-style-type: none;
}

.search {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  & .close-button {
    color: lightcoral;
  }
}

.evolution {
  margin: 50px;

  .row {
    display: flex;
  }
}

.loading-container {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes full viewport height */
  font-size: 1.5rem;
  color: #333;
}

.pokemon-card {
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.pokemon {
  margin-bottom: 100px;
}

& .suggestion {
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.demo-logo-vertical {
  & h1 {
    color: white;
    text-align: center;
  }
}
